@media screen and (max-width: 1899px) {
    .button_move {
        display: block;
    }
    .message-list {
        min-height: 220px;
        max-height: 220px;
    }
    .chat {
        min-height: 300px;
        max-height: 300px;
        border-radius: 10px;
        position: relative;
    }
    .input_text_chat {
        position: static;
    }
    .chat_menu {
        display: block;
    }
}
@media screen and (max-width: 1900px) {
    .pc_sidebar {
        display: none;
    }
}