@media screen and (max-width: 1899px) {
    .button_move {
        display: block;
    }
    .message-list {
        min-height: 220px;
        max-height: 220px;
    }
    .chat {
        min-height: 300px;
        max-height: 300px;
        border-radius: 10px;
        position: relative;
    }
    .input_text_chat {
        position: static;
    }
    .chat_menu {
        display: block;
    }
    .noti {
        bottom: 30px;
        left: 15px;
    }
    .noti-box {
        top: auto;
        right: auto;
        left: 0;
        bottom: 50px;
        border-radius: 5px 5px 5px 0px;
    }
    .container {
        padding: 0;
    }
    h1 {
        font-size: 30px;
    }
    h1::before {
        width: 22px;
        background-size: 22px;
    }
}
@media screen and (max-width: 1900px) {
    .pc_sidebar {
        display: none;
    }
}